.container {
  padding-top: 50px;
  transition: transform 0.5s ease;
}

/* --------------------------------- */
/* NavBar */
/* --------------------------------- */

nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;

  background-color: #fafafadc;

  backdrop-filter: blur(5px);

  position: fixed;
  top: 0;
  transition: top 0.5s ease;
  z-index: 99;
}

nav .navContent {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
nav .logo {
  width: 25px;
}

/* Desktop Styling */
nav .desktop {
  display: flex;
  /* width: 100%; */
  margin: 0 auto;
}

nav .desktop .navItems {
  /* width: 500px; */
  display: flex;
  list-style: none;
  align-items: center;

  /* justify-content: space-between; */
}
nav .desktop .navItem a {
  font-size: 16px;
  margin: 0 20px;
  cursor: pointer;
  font-family: var(--title_font);
  color: var(--gray-850);
  /* color: var(--dm-text); */
}

nav .desktop .navItems a {
  text-decoration: none;
}

nav .desktop .navItems:hover .navItem {
  opacity: 0.7;
}

nav .desktop .navItems .navItem:hover {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  /* --------------------------------- */
  /* Footer */
  /* --------------------------------- */
  footer .content {
    flex-direction: column-reverse;
  }
  footer .img {
    margin: 50px 0;
  }
}
@media screen and (max-width: 880px) {
  nav .desktop {
    display: none;
  }
  nav .mobile {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  footer .navItems {
    height: 250px;
    flex-direction: column;
  }
}
