.titleWithCards {
  width: 100%;
  /* max-width: 1500px; */
  /* margin-left: auto; */
}
.titleWithCards h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--gray-900);
  margin-left: 10%;
}
